1. Create a string that has every letter of the alphabet, and save it a variable named "aleph"

In [ ]:
aleph = 'the quick brown fox jumps over the lazy dog.'

2. What is the length of the aleph string?

In [ ]:
len(aleph)

3a. What is the first character?

3b. Which character is in the middle index? (Hint: for even numbers use /, for odd numbers use //)

In [ ]:
aleph[0]

x = len(aleph)//2
aleph[x]

3c. Create a new string made of the middle three characters of the aleph string. Name it "middle"

In [ ]:
middle = aleph[x - 1:x + 2]
print(middle)

4a. Create a string with your name last name. Save it as "name".

4b. Create another string with your middle name. Save it as "middle" (If you don't have one, make one up)

4c. Find the index of the space between your first name and last name. Save that as idx.

4d. Append your middle name in the write place of your first name string.
Question: What is missing? How can we solve it?

In [ ]:
name = 'James Jones'
middle = 'Earl'

idx = name.find(' ')

name[:idx + 1] + middle + name[idx:]

5a. Set all the letters to lower case in the text below.

5b. Now set them all to upper case.

5c. Find all the times the letter t occurs in the text.

In [ ]:
text = '''Good morning everyone!
        Today is September 3, and this is...
        the first time using a jupyter notebook for me :)
        I hope it's going well <3.'''

In [ ]:
text.lower()

In [ ]:
text.upper()

In [ ]:
text.lower().count('t')

6a. Find the 4 element of the list.

6b. What are the odd elements of list?

6c. What are the even elements of the list?

In [110]:
my_list = [3, 6, 9, 12, 15, 18, 21]

print(my_list[3])
print(my_list[::2])
print(my_list[1::2])

12
[3, 9, 15, 21]
[6, 12, 18]

7. Create a new list that is composed by the even number of the two lists.

In [111]:
my_list = [3, 6, 9, 12, 15, 18, 21]
your_list = [4, 8, 12, 16, 20, 24, 28]

odd = my_list[1::2]
new_list = odd + your_list[1::2]
print(new_list)

[6, 12, 18, 8, 16, 24]

8. Create a set that is the elements of each list together by index.
It should look like this: {(3, 4), (6, 8), (9, 12), (12, 16),... }

In [116]:
zipped = zip(my_list, your_list)
print(set(zipped))

{(3, 4), (12, 16), (6, 8), (9, 12), (21, 28), (15, 20), (18, 24)}

9a. Find the lyrics to the song "Born in the USA" by Bruce Sprinsteen

9b. Save the first verse as a string.

9c. Save the chorus as another string.

9d. Save the second verse as a string.

9e. Create a list with all three strings. Name it "song"

In [ ]:
first = "Born down in a dead man's town. The first kick I took was when I hit the ground. You end up like a dog. that's been beat too much. 'Til you spend half your life just covering up, now"

chorus = "Born in the U.S.A. I was born in the U.S.A. I was born in the U.S.A. Born in the U.S.A."

second = "Got in a little hometown jam. So they put a rifle in my hand. Sent me off to a foreign land. To go and kill the yellow man"

song = [first, chorus, second]

For question 10 - 12 you can only use list indexing to access the strings.

10a. What is the length of the list?

10b. What is the 9th character of the second verse?

10c. How many times does the word "man" appear in the first verse?

In [ ]:
print(len(song))
print(song[2][9])
print(song[0].count('man'))

11. Replace "U.S.A" in the chorus with "United Stated of America".

In [ ]:
song[1].replace("U.S.A", "United States of America")

12a. Split the first verse into a list of words.

12b. How many words are in the first verse?

In [ ]:
first_list = song[0].split(' ')
len(first_list)

13. Append the chorus again to the end of the song.

In [ ]:
song = song.append(chorus)

14. Oops! You made a mistake, you actually didn't want to append that. Remove the last chorus in the song list.

In [ ]:
song.pop(3)
song

15a. Create a list with all the names of your imaginary pets. (You have 7)
15b. What is the first name on the list? What is the last name on the list?

In [98]:
pets = ['mikey', 'fluffy', 'penny', 'bubbles', 'bolt', 'buddy', 'bella']
print(pets[0])
print(pets[-1])

mikey
bella

16a. Oops! You forgot your pet lizard Spike!! Please insert Spike as your 4th pet.

16b. Actually, the 5th pet on your list, is your cousin's. Please remove them from the list.

In [101]:
pets.insert(3, 'spike')

pets.pop(5)

'bubbles'

17. Now, order your pets in alphabetical order.

In [103]:
pets.sort()

18. Can you try reverse alphabetical order?

In [105]:
pets.reverse()

19a. Create a dictionary that is the name of four countries in Latin America and their year of independence.

19b. Print only the keys

19c. Print only the values

19d. Print all the key value pairs

In [119]:
countries = {'Haiti':1804, 'Cuba':1902, 'Argentina':1816, 'Venezuela':1811}

print(countries.keys())
print(countries.values())
print(countries.items())

dict_keys(['Haiti', 'Cuba', 'Argentina', 'Venezuela'])
dict_values([1804, 1902, 1816, 1811])
dict_items([('Haiti', 1804), ('Cuba', 1902), ('Argentina', 1816), ('Venezuela', 1811)])

20a. Delete the last country in the list

20b. Add a this new value: {'Mexico':1810}

In [120]:
del[countries['Venezuela']]
print(countries)

mexico = {'Mexico':1810}
countries.update(mexico)